body {
    display: grid;
    grid-template-areas: 'header header' 'about aside1';
    grid-template-columns: '3fr 1fr';
    font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
    background-color: antiquewhite;
    color: color: rgb(35,35,35);
}

.heading {
    display: flex;
    justify-content: space-evenly;
    grid-area: header;
    padding: 20px;
    color: rgb(35,35,35);
    background-color: rgb(82,94,180);
}

.heading a {
    margin: auto;
    text-decoration: none;
    padding-top: 80px;

}

.heading a:hover {
    font-weight: 800;
    color: rgb(35,35,35);
}

.heading a:visited {
    text-decoration: none;
    color: rgb(35,35,35);
}

.about {
    grid-area: about;
    padding: 30px;
    line-height: 145%;
    max-width: 60vw;
}

.aside1 {
    /* background-color: rgb(82,94,180); */
    grid-area: aside1;
    box-shadow: 2px 2px rgba(35,35,35,0.1);
    margin: auto;
}

.aside1 h1 { 
    margin: auto;
    padding-left: 15px;
}

.aside1 h2 {
    margin: auto;
    padding-left: 15px;
}

#headshot {
    max-width: 150px;
    min-width: 50px;
    padding: 20px;
    border-radius: 50%;
}